@font-face {
    font-family: sailec light;
    src: url(https://cdn.quilljs.com/fonts/sailec-light.eot);
    src: url(https://cdn.quilljs.com/fonts/sailec-light.eot?#iefix) format('embedded-opentype'),url(https://cdn.quilljs.com/fonts/sailec-light.woff2) format('woff2'),url(https://cdn.quilljs.com/fonts/sailec-light.woff) format('woff'),url(https://cdn.quilljs.com/fonts/sailec-light.ttf) format('truetype')
}

@font-face {
    font-family: sailec light;
    font-weight: 700;
    src: url(https://cdn.quilljs.com/fonts/sailec-bold.eot);
    src: url(https://cdn.quilljs.com/fonts/sailec-bold.eot?#iefix) format('embedded-opentype'),url(https://cdn.quilljs.com/fonts/sailec-bold.woff2) format('woff2'),url(https://cdn.quilljs.com/fonts/sailec-bold.woff) format('woff'),url(https://cdn.quilljs.com/fonts/sailec-bold.ttf) format('truetype')
}

.content{
	max-width: 800px;
	width: 100%;
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#editor{
	border: none;
	flex: 1;
	overflow-y: auto;
	padding: 12px 16px;
}

.ql-toolbar {
	overflow-x: auto;
	white-space: nowrap;
	width: 100%;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
}

.ql-editor {
	padding: 0px;
	font-family: 'sailec light';
	font-size:16;
	line-height: 1.6;
}

.header {
	padding: 15px;
	display: flex;
	flex-direction: row;
}
	.title {
		font-size: 28px;
		font-family: sans-serif;
		padding: 0px;
		margin: 0px;
		border: none;
		outline: none;
		box-shadow: none;
		flex: 1
	}

.hidden {
	display: none;
}